


html, body {
    margin: 0;
    padding: 0;
  }
  .mainContainer {
    max-width: 1024px;
    margin: 0 auto;
    height: 1000px;
  }
  .menu{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    background-color: #FAFAFA;
    opacity: 0.9;
}


.logo{
    width: 100%;}

.nav{
    font-family: sans-serif;
    margin-top: -2px;
    margin-left: 400px;
    
}

.header{
    margin-bottom: 40px;
    font-family: sans-serif;
    background: -webkit-linear-gradient(81.84deg , #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 61px;
    letter-spacing: -2px;
    line-height: 82px;
    margin-bottom: 20px;
}
.description{
    margin-bottom: 20px;
    font-family: sans-serif;
    color:darkslategray;
}
.logoContainer {
    width: 50px;
    height: 50px;
    margin-right: -200px;
  }
  
.MenuItem{
    text-decoration: none;
    color: inherit;
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
    
}

.menuItem:hover {
    border-bottom: solid #e5227d;
  }
  
.blockElement {
            display: block;
            margin-top: 10px;
            margin-bottom: 20px;
            border: none;
            background-color: rgba(193, 193, 193, 0.3);
            height: 35px;
            width: 300px;
            border-radius: 15px;
            outline: none;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
          
          }
    
    
    
.signin{
    background: -webkit-linear-gradient(81.84deg , #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);

  border-radius: 24px;
  border: none;
  color: white;
  padding: 2px 20px 0px;
  font-size: 19px;
  height: 40px;
  width: 100px;
}
.inputspan{
    margin-bottom: 20px;
}
.pw{
    margin-bottom: 20px;
    font-family: sans-serif;
    color: darkslategray;
}

.left{
    display: inline-block;
    width: 50%;
}
.DownloadImage{
    width: 100px;
    height: 70px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  
.inner {
    width: 60%;
    margin-top: 40%;
  }
  
  .right {
      display: inline-block;
      width: 40%;
      margin-top: 17%;
  }

.ChatImage {
    width: 140%;
}

.mobileMenuContainer {
  display: none;
  
}
.footer{
    background: -webkit-linear-gradient(81.84deg , #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
    text-align: center;
    
    font-size: 40px;
    margin-top: 70px;
    padding: 50px;
    
}
.learn{
    color: black;
    text-decoration-line: underline;
}
.footerfb{
    font-family: sans-serif;
    color: white;
    font-size: 17px;
    
}
@media (max-width: 1000px) {
  .left{
    margin-left: 6%;
  }
  .inner{
    width: 70%;
  }
  .logoContainer{
    margin-right: -250px;
  }
  /* .ChatImage{
    width: 500px;
  } */
}
@media (max-width: 767px) {
    .nav {
      display: none
    }
  
    .mobileMenuContainer {
      display: block;
      margin-left: 50%;
    }
    .mobileMenuContainer img{
      width: 40px;
      height: 40px;
    }
    .left {
      width: 100%;
      margin-bottom: 50px;
    }
  
    .inner {
      width: 64%;
      margin: 0 auto;
      padding-top: 30%;
    }
  
    .right {
      width: 100%;
      overflow: hidden;
      text-align: center;
    }
    
    .ChatImage {
      margin: 0 -50%;
    }
 
  .footer > *{
      display: inline-block;
      margin-bottom: 15px;
      margin-right: 15px;
  }
}
  @media (max-width: 437px) {
    
    .inner{
      width: 100%;
      margin-left: 37px;
     
        
      }
     
    
    .mobileMenuContainer img{
      width: 40px;
      height: 40px;
    }
    .blockElement{
      width: 180px;
      font-size: 13px ;
    }
    .signin{
      width: 100px;
      height: 40px;
      font-size :15px;
    }
    
  }
  @media (max-width: 334px)  
  {
    .logoContainer img{
      width: 40px;
    }
    .mobileMenuContainer img{
      width: 40px;
    }
    .mobileMenuContainer{
      margin-left: 20%;
    }
    .menu{
      height: 80px;
    }
    .logoContainer{
      margin-right: -100px;
    }
    .header{
      font-size: 55px;
    }
    .inner{
      margin-left: 37px;
      
    }
    .description{
      margin-right: 30px;
      
    }
    .blockElement{
      width: 200px;
      font-size: 13px ;
    }
    .signin{
      width: 90px;
      height: 40px;
      font-size :15px;
    }
    .footer{

    }
  }
